reference_code.c
.venv/
.vscode/
src/__pycache__/
*.pyc
src/.ipynb_checkpoints
.DS_Store
# Compiled Object files
src/*.o
src/*.out
build/
logs/
data/
papers/
output/

# Object files
*.o
*.out
a.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
main_parallel
main_serial
# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
